body {
  background-color: #f8f9fa;
  font-family: Karla, sans-serif;
  min-width: 19rem;
}

.font-rubik {
  font-family: Rubik, sans-serif;
}

.app-name {
  font-size: calc(2rem + 0.5vw);
  font-family: "Just Another Hand", cursive;
  letter-spacing: 0.07rem;
}

.sign-out-icon {
  max-width: 1.125rem;
}

.app-drawer-option:hover {
  background-color: #e9ecef;
}

.auth-form-button {
  width: 7rem;
}

.home-container-padding {
  padding-top: 9rem;
}

.loading-indicator {
  width: 2.25rem;
  height: 2.25rem;
}

.event-image {
  object-fit: cover;
}

.star-icon {
  color: #ffd700;
}

.ellipses-trash-icon {
  min-width: 1.125rem;
}

.create-itinerary-button {
  width: 8rem;
}

.itinerary-card {
  background-color: #e8e8e8;
  transition: 250ms;
}

.itinerary-card:hover {
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.modal-content-container {
  max-width: 22rem;
}
